.header {
  text-align: center;
}

@keyframes Greyout {
  from {
    color: black;
  }
  to {
    color: grey;
  }
}

.todoitem {
  padding: 10px;
  margin: 10px;
  border: solid grey 1px;
  border-radius: 5px;
  box-shadow: 2px 2px lightgrey;
}

.todotext.completed {
  animation-name: Greyout;
  animation-duration: 1s;
  text-decoration: line-through grey;
  color: grey;
}

.todolist {
  margin: auto;
  width: 80%;
  padding: 10px;
}

.itemadder {
  margin: 10px;
  padding: 10px;
}

.deletebutton {
  float: right;
  border: none;
  background: white;
}

input {
  vertical-align: middle;
  margin: 5px;
}

button {
  vertical-align: middle;
  margin: 5px;
}

label {
  vertical-align: middle;
  margin: 5px;
}
